

<div *ngIf="!loading">
<app-loading></app-loading>
</div>





<div *ngIf="loading">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
<img class="imagen_icon" src='https://th.bing.com/th/id/OIP.dzud9ieLzkXpzhkIz9f8NAAAAA?w=145&h=150&c=7&r=0&o=5&dpr=1.3&pid=1.7' alt='.'/>  
</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

    </div>
  </div>
</nav>


<div> 
<input type="text" class="form-control" placeholder="Buscador por nombre" [(ngModel)]="filtrado" />
</div>


<mat-chip-listbox class='select'  *ngFor="let item of opciones" [(ngModel)]="categoria" >
  <mat-chip-option  class="items" [value]="item">{{item}}</mat-chip-option>
</mat-chip-listbox>


<h3 style="color: red;"><strong style="color: yellow;">Pokemons:</strong> {{PokemonCantidad}}</h3>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12"  *ngFor="let item of applyTransformations() | paginate: { itemsPerPage: 6, currentPage: page }">
      
<div class="card" > <!-- Agregamos la clase "mb-4" para margen inferior -->
        <img src={{item.sprites.front_default}} class="card-img-top img-fluid" alt="..." >
        <div class="card-body">

          <h4><strong>Num:</strong>{{item.id}}</h4>
          <h3 class="card-title" style="font-family: comic;"><strong>{{item.name}}</strong></h3>
          <div *ngFor="let item1 of item.types">
            <div [className]="item1.type.name">
              <h3 class="tipo">{{item1.type.name}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="control">
<pagination-controls  
                      (pageChange)="page =$event"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls>

</div>
</div>







